html, body {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    font-size: 1.7em
}
img.logo {
    width: 80px;
    height: 80px;
    float: left;
    margin: 0 24px;
}
h1 {
    text-align: left;
}
ul.navbar {
    display: flex;
    width: 100%;
    list-style: none;
    padding-left: 0;
}
ul.navbar > li {
    flex: 1;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
ul.navbar > li > a {
    display: inline-block;
    width: 100%;
}
ul.navbar > li.active {
    background-color: green;
}
ul.navbar > li.active > a {
    color: white;
}
.ri-pages {
    border: 4px solid silver;
    margin: 16px;
    padding: 16px;
    border-radius: 32px;
}
.ri-pages > .ri-page {
    border: 4px solid gray;
    margin: 16px;
    padding: 16px;
    border-radius: 16px;
}
img.loading {
    position: fixed;
    top: 24px;
    right: 24px;
}
div.delay-input {
    display: inline-block;
    position: fixed;
    right: 8px;
    bottom: 8px;
}